@charset "UTF-8";

#template {
    grid-template-rows: 100px 1fr 100%;
}

main #about {
    grid-template: 1fr 1fr / 1fr;
    
}

#about .text {
    text-align: center;
}

#about > figure {
    order: -1;
    width: 80%;
    justify-self: center;
}


