@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

p {
    line-height: 2em;
    font-weight: bold;
}

i.fa-solid {
    display: inline;
    padding: 10px;
}

#template {
    display: grid;
    grid-template: 100px calc(100vh - 100px) 1fr  / 80px 1fr 80px;
}

/*Header*/

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    height: 50px;
    grid-area: 1 / 2 / 2 / -2;
    align-self: center;
}

#logo {
    font-size: 1em;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav i {
    order: 1;
    cursor: pointer;
}

nav > ul {
    display: none;
    list-style: none;
    position: absolute;
    left: 20%;
    right: 130px;
    top: 50%;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    border-radius: 8px;

}

nav > ul > li {
    flex: 0 0 30px;
}

nav > ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav button#theme {
    order: 2;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
    cursor: pointer;
}

nav button#theme:active {
    box-shadow: inset 0px 0px 5px white;
}
/*Main*/
/*Section about*/

main {
    grid-area: 2 / 2 / 3 / 3;
    
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

#about .text {
    display: inline-block;
    min-width: 600px;
}

#about .text h1 {
    font-size: 3em;
}

#about .text h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: gray;
    margin: 15px 0;
}

#about > figure {
    background: red url('../images/perfil/terno-semfundo-light.jpg') no-repeat 37% 70% / 800px;
    height: 400px;
    width: 300px;
    margin: 20px 20px 0 0;
    justify-self: end;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*Footer*/

footer {
    grid-area: -2 / 2 / -1 / -2;
    display: grid;
    place-items: center center;
    grid-template: 2fr 1fr / 1fr 1fr;
    background-color: red;
    height: 200px;
}

footer #columns {
    grid-column: span 2;
    justify-self: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer #columns div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100px;
    width: 230px;
    text-align: center;
}

footer #columns h1 {
    font-size: 1.2em;

}

footer #columns a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

footer #social {
    order: 1;
}