@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

p {
    line-height: 2em;
    font-weight: bold;
}

hr {
    background-image: radial-gradient(black, transparent 70%);
    border: none;
    height: 4px;
    width: 100%;
}

i.fa-solid {
    display: inline;
    padding: 10px;
}

#template {
    display: grid;
    grid-template: 100px 1fr 200px  / 80px 1fr 80px;
}

/*Header*/

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    height: 50px;
    grid-area: 1 / 2 / 2 / -2;
    align-self: center;
}

#logo {
    font-size: 1em;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav i {
    order: 1;
    cursor: pointer;
}

nav > ul {
    display: none;
    list-style: none;
    position: absolute;
    left: 20%;
    right: 130px;
    top: 50%;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    border-radius: 8px;

}

nav > ul > li {
    flex: 0 0 30px;
}

nav > ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav button#theme {
    order: 2;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
    cursor: pointer;
}

nav button#theme:active {
    box-shadow: inset 0px 0px 5px white;
}
/*Main*/
/*Section about*/

main {
    grid-area: 2 / 2 / 3 / 3;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    margin: 40px 0px;
    gap: 20px;
}

#about .text {
    display: inline-block;
    min-width: 500px;
}

#about .text h1 {
    font-size: 3em;
}

#about .text h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: gray;
    margin: 15px 0;
}

#about > figure {
    /*background: red url('../images/perfil/terno-semfundo-light.jpg') no-repeat 37% 70% / 800px;*/
    height: calc( 0.8 * (100vh - 100px));
    width: 300px;
    justify-self: end;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: black;
    overflow: hidden;
}

#about > figure img {
    width: 250px;
    transform: translateY(30px);
    /*object-fit: cover;*/
}
/*Footer*/

footer {
    grid-area: -2 / 2 / -1 / -2;
    display: grid;
    place-items: center center;
    grid-template: 2fr 1fr / 1fr 1fr;
    height: 200px;
    margin-top: 40px;
}

hr#footer {
    grid-area: 3 / 1 / 4 / -1;
}

footer #columns {
    grid-column: span 2;
    justify-self: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer #columns div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100px;
    width: 230px;
    text-align: center;
}

footer #columns h1 {
    font-size: 1.2em;

}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

footer #social {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    width: 100%;
    order: 1;
}

footer #social a {
    font-size: 1.5em;
    transition: text-shadow 0.5s, transform 0.2s ease;
}

footer #social a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
    #template {
    grid-template-columns: 1vw 1fr 1vw;
    }
}

@media screen  and (max-width: 540px) {

    footer {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        gap: 20px;
    }


    footer #columns {
        grid-column: 1 / 1;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    footer #social, footer #right {
        grid-column: 1;
    }
    
}