@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*--color_green-yellow: #B8EB44 ;
    --color_green-yellow2: #98CE00;*/
    --color_blue: #3C79EA;
    /*--color_light-yellow: #FFFBDB;*/
    /*--color_alabaster-grey: #D1DEDE;*/
    --color_alice-blue: #F4FAFF;
    /*--color_aquamarine: #5DFDCB;*/
    --color_maya-blue: #7CC6FE;
    --color_shadow-grey: #1E1E24;
    --color_prussian-blue: #0B132B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    text-transform: capitalize;
    color: var(--color_prussian-blue);
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: var(--color_blue);
    margin: 15px 0;
}

p {
    line-height: 2em;
    font-weight: bold;
    color: var(--color_prussian-blue);
}

ul {
    list-style: none;
}

hr {
    background-image: radial-gradient(black, transparent 70%);
    border: none;
    height: 4px;
    width: 100%;
}

i.fa-solid {
    display: inline;
    padding: 10px;
}

#template {
    display: grid;
    grid-template: '. header .' 100px
     '. main .' 1fr
     '. footer .' 100% 
     / 80px 1fr 80px;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    grid-area: header;
    align-self: center;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    background-color: #ffffff;
    height: 100px;
    z-index: 1;
}

#logo {
    font-size: 1em;
    font-weight: bold;
    color: var(--color_maya-blue);
}

nav {
    display: flex;
    align-items: center;
}

nav i {
    order: 1;
    cursor: pointer;
}

nav > ul {
    display: none;
    list-style: none;
    position: absolute;
    left: 20%;
    right: 130px;
    top: 50%;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    border-radius: 8px;
    z-index: 1;
    
}

nav > ul > li {
    flex: 0 0 30px;
    
}

nav > ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    color: var(--color_prussian-blue);
}
nav > ul i {
    transition: font-size 0.1s ease, padding 0.1s ease;
}
nav > ul a:hover i {
    font-size: 1.5em;
    padding: 4px;
}

nav button#theme {
    order: 2;
    padding: 10px;
    background-color: var(--color_prussian-blue);
    border: none;
    color: white;
    border-radius: 20px;
    margin-left: 50px;
    cursor: pointer;
}

nav button#theme:active {
    box-shadow: inset 0px 0px 5px white;
}
/*Main*/

main {
    grid-area: main;
    display: grid;
    
    grid-template-areas: 'welcome' 'about' 'skills' 'projects';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
}

/*Sections*/
section {
    margin-bottom: 100px;
}

/*Section welcome*/

#welcome {
    position: relative;
    grid-area: welcome;
    display: grid;
    grid-template-columns: 1fr 370px;
    overflow: hidden;
    border-radius: 20px;
    color: white;
    height: 500px;
    padding: 20px;
    gap: 0px;
    justify-items: end;
    align-content: center;

}

#welcome .bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('../images/ground/montain2.jpg');
    background-size: cover;
    background-position: center center;
    background-color: black;
    filter: blur(0) brightness(1) contrast(1.3);
    transition: filter 1s cubic-bezier(.4,0,.2,1);
}

#welcome:hover .bg {
    filter: blur(16px) brightness(1) contrast(1);
}

#welcome > h1 {
    display: inline-block;
    background-image: linear-gradient(90deg, var(--color_alice-blue), var(--color_maya-blue));
    font-size: 8em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

#welcome > p {
    grid-column: 1 / 2;
    max-width: 600px;
    text-align: right;
    color: var(--color_alice-blue);
}

/*Section about*/

#about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    gap: 20px;
}

#about .text {
    display: inline-block;
    min-width: 500px;
}

#about > figure {
    /*background: red url('../images/perfil/terno-semfundo-light.jpg') no-repeat 37% 70% / 800px;*/
    min-height: calc( 0.8 * (100% - 100px));
    width: 300px;
    justify-self: end;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--color_prussian-blue);
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: black;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

#about:hover > figure {
    transform: scale(1.02);
    box-shadow: 0px 0px 0px 0px var(--color_prussian-blue);
}

#about > figure img {
    width: 250px;
    transform: translateY(30px);
}

/*Section Skills*/

#skills {
    position: relative;
    grid-area: skills;
    height: fit-content;
    display: grid;
    grid-template: 6em 1fr / 1fr
}

#skills #grafic {
    position: relative;
    display: grid;
    grid-template: 1fr / 40px 1fr;
    border: 2px none black;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 600px;
    padding-top: 20px;
}

#skills ul#pct, #skills ul#datas li {
    display: grid;
    grid-template-rows: repeat(10, 1fr) 40px;
    width: 100%;
}

#skills ul#pct {
    grid-area: 1 / 1 / -1 / 2;
    text-align: end;
}

#skills ul#pct > li::before {
    content: '';
    position: absolute;
    left: -1em;
    border-top: 2px dotted rgba(0, 0, 0, 0.4);
    width: calc(100% + 1em);

}

#skills ul#datas {
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;

}

#skills ul#datas > li div.bar {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    order: -1;
    grid-row: -1;
    background-color: var(--color_prussian-blue);
    background-image: linear;
    /*box-shadow: 0px 0px 2px var(--color_blue);*/
}

#skills ul#datas > li {
    width: 100px;
    height: 100%;
    
}

#skills ul#datas > li p {
    grid-row: -1 / -2;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    line-height: 1em;
    justify-content: center;
    height: 40px;
    border: 2px solid var(--color_maya-blue);
    font-size: 0.8em;
    order: 0;
    text-align: center;
    font-weight: normal;
}

/*Section Projects*/

#projects {
    grid-area: projects;

}

#wraps {
    display: flex;
    flex-flow: column nowrap;
    gap: 400px;
}

#projects article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: var(--color_blue);
    padding: 80px;
    height: 400px;
    border-radius: 40px 0;
}

#projects article::after {
    content: '';
    border: 2px solid black;
    height: 400px;
    position: absolute;
    top: 100%;
}

#projects article:last-child::after {
    border: none;
}

#projects .about {
   width: 300px;
   height: 200px;
   /*clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
   background-color: var(--color_maya-blue);*/
   padding: 0 80px;
   text-align: center;
   display: flex;
   align-items: center;
   color: var(--color_alice-blue);
}

#projects img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    /*overflow: hidden;*/
    border-radius: 40px;
    border-top-right-radius: 0;
    /*box-shadow: 10px -10px 0px rgba(0, 0, 0, 1);*/
    
    
}

#projects img::after {
    content: '';
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -50px;
}

#projects figure {
    position: relative;
}

#projects figure:hover figcaption {
    height: 100px;
    top: calc(100% - 100px);
}

#projects figure figcaption {
    position: absolute;
    background-color: var(--color_blue);
    border-radius: 40px 40px 0 0;
    right: 0;
    left: 0;
    height: 50px;
    top: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1em;
    transition: height 0.3s ease, top 0.3s ease;
}

/*Footer*/

footer {
    grid-area: footer;
    display: grid;
    place-items: center center;
    grid-template: 2fr 1fr / 1fr 1fr;
    height: 200px;
    margin-top: 40px;
}

hr#footer {
    grid-area: footer;
}

footer #columns {
    grid-column: span 2;
    justify-self: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer #columns div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100px;
    width: 230px;
    text-align: center;
}

footer #columns h1 {
    font-size: 1.2em;

}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

footer #social {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    width: 100%;
    order: 1;
}

footer #social a {
    font-size: 1.5em;
    transition: text-shadow 0.5s, transform 0.2s ease;
}

footer #social a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
    #template {
    grid-template-columns: 1vw 1fr 1vw;
    }
}

@media screen  and (max-width: 540px) {

    #about .text {
        min-width: 0;
    }

    #about > figure {
        align-self: start;
    }

    footer {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        gap: 20px;
    }


    footer #columns {
        grid-column: 1 / 1;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    footer #social, footer #right {
        grid-column: 1;
    }
    
}