@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*--color_green-yellow: #B8EB44 ;
    --color_green-yellow2: #98CE00;*/
    --color_blue: #3C79EA;
    /*--color_light-yellow: #FFFBDB;*/
    /*--color_alabaster-grey: #D1DEDE;*/
    --color_alice-blue: #F4FAFF;
    /*--color_aquamarine: #5DFDCB;*/
    --color_maya-blue: #7CC6FE;
    --color_shadow-grey: #1E1E24;
    --color_prussian-blue: #0B132B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    text-transform: capitalize;
}

p {
    line-height: 2em;
    font-weight: bold;
}

hr {
    background-image: radial-gradient(black, transparent 70%);
    border: none;
    height: 4px;
    width: 100%;
}

i.fa-solid {
    display: inline;
    padding: 10px;
}

#template {
    display: grid;
    grid-template: '. header .' 100px
     '. main .' 1fr
     '. footer .' 100% 
     / 80px 1fr 80px;
}

/*Header*/

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    height: 50px;
    grid-area: header;
    align-self: center;
}

#logo {
    font-size: 1em;
    font-weight: bold;
    color: var(--color_prussian-blue);
}

nav {
    display: flex;
    align-items: center;
}

nav i {
    order: 1;
    cursor: pointer;
}

nav > ul {
    display: none;
    list-style: none;
    position: absolute;
    left: 20%;
    right: 130px;
    top: 50%;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    border-radius: 8px;
    z-index: 1;
    
}

nav > ul > li {
    flex: 0 0 30px;
    
}

nav > ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    color: var(--color_prussian-blue);
}
nav > ul i {
    transition: font-size 0.1s ease, padding 0.1s ease;
}
nav > ul a:hover i {
    font-size: 1.5em;
    padding: 4px;
}

nav button#theme {
    order: 2;
    padding: 10px;
    background-color: var(--color_prussian-blue);
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
    cursor: pointer;
}

nav button#theme:active {
    box-shadow: inset 0px 0px 5px white;
}
/*Main*/

main {
    grid-area: main;
    display: grid;
    
    grid-template-areas: 'welcome' 'about' 'skills' 'projects';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
}

/*Section welcome*/

#welcome {
    position: relative;
    grid-area: welcome;
    display: grid;
    grid-template-columns: 1fr 370px;
    overflow: hidden;
    border-radius: 20px;
    color: white;
    height: 500px;
    padding: 20px;
    gap: 0px;
    justify-items: end;
    align-content: center;

}

#welcome .bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('../images/ground/montain2.jpg');
    background-size: cover;
    background-position: center center;
    background-color: black;
    filter: blur(0) brightness(0.9);
    transition: filter 1s cubic-bezier(.4,0,.2,1);
}

#welcome:hover .bg {
    filter: blur(16px) brightness(0.5);
}

#welcome > h1 {
    display: inline-block;
    background-image: linear-gradient(90deg, var(--color_maya-blue), var(--color_alice-blue) 40%);
    font-size: 8em;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

#welcome > p {
    grid-column: 1 / 2;
    max-width: 600px;
    text-align: right;
}

/*Section about*/

#about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    margin: 40px 0px;
    gap: 20px;
}

#about .text {
    display: inline-block;
    min-width: 500px;
}

#about .text h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: gray;
    margin: 15px 0;
}

#about > figure {
    /*background: red url('../images/perfil/terno-semfundo-light.jpg') no-repeat 37% 70% / 800px;*/
    min-height: calc( 0.8 * (100% - 100px));
    width: 300px;
    justify-self: end;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: black;
    overflow: hidden;
}

#about > figure img {
    width: 250px;
    transform: translateY(30px);
}

/*Section Skills*/

#skills {
    grid-area: skills;
}

/*Section Projects*/

#projects {
    grid-area: projects;
}

/*Footer*/

footer {
    grid-area: footer;
    display: grid;
    place-items: center center;
    grid-template: 2fr 1fr / 1fr 1fr;
    height: 200px;
    margin-top: 40px;
}

hr#footer {
    grid-area: footer;
}

footer #columns {
    grid-column: span 2;
    justify-self: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer #columns div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100px;
    width: 230px;
    text-align: center;
}

footer #columns h1 {
    font-size: 1.2em;

}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

footer #social {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    width: 100%;
    order: 1;
}

footer #social a {
    font-size: 1.5em;
    transition: text-shadow 0.5s, transform 0.2s ease;
}

footer #social a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
    #template {
    grid-template-columns: 1vw 1fr 1vw;
    }
}

@media screen  and (max-width: 540px) {

    #about .text {
        min-width: 0;
    }

    #about > figure {
        align-self: start;
    }

    footer {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        gap: 20px;
    }


    footer #columns {
        grid-column: 1 / 1;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    footer #social, footer #right {
        grid-column: 1;
    }
    
}