@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

#logo {
    font-size: 1em;
    font-weight: normal;
}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav i {
    order: 1;
}

nav > ul {
    display: none;
    list-style: none;
    justify-content: space-between;
    align-content: normal;
    padding: 0;
    row-gap: 0px;
    column-gap: 30px;
    flex-flow: row wrap;
    flex: 0 0 50vw;
    padding-top: 0.5%;
    background-color: aliceblue;
    
    
}

nav > ul a {
    color: black;
    text-decoration: none;
}

nav button#theme {
    order: 2;
    padding: 6px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
}

nav button#theme:active {
    box-shadow: inset 0px 0px 5px white;
}